@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=IBM+Plex+Mono:ital,wght@1,500&family=Space+Mono:wght@700&display=swap");

:root {
  /* FONTS */
  --texto-general: "Barlow Condensed", sans-serif;
  --text-titulo: "IBM Plex Mono", monospace;
  /* COLORS */
  --main-color: hsl(20, 90%, 88%);
  --secondary-color: hsl(29, 62%, 78%);
}

* {
  /* border: 1px solid white; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#registro-login {
  margin-top: 20%;
  gap: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title-login {
  font-size: 3rem;
  font-family: var(--texto-general);
  font-weight: 700;
}

#email-login,
#password-login {
  padding: 1rem;
  border-radius: 10px solid;
  width: 10rem;
}

.box-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  width: 20%;
}

#button-show-password {
  top: 50%;
  left: 200%;
  border-radius: 30px;
  cursor: pointer;
  background-color: var(--main-color);
}

#button-show-password:hover {
  box-shadow: 1px 1px 5px 2px;
}

#button-login {
  padding: 0.4rem;
  font-family: var(--texto-general);
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.335);
  background-color: var(--main-color);
}

#button-login:hover {
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0);
}

#carrito {
  box-shadow: 1px 1px 5px 1px grey;
}

#carrito:hover {
  box-shadow: 1px 1px 5px 1px grey;
}
