@media (max-width: 1350px) {
  #productos-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1150px) {
  #productos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  #title-RN {
    margin-top: 2.5rem;
  }

  #registro-RN {
    grid-template-columns: repeat(2, 1fr);
  }

  #button-show-password {
    left: 190%;
    top: -320%;
  }
}

@media (max-width: 700px) {
  #productos-container {
    grid-template-columns: 1fr;
  }


  #title-RN {
    margin-top: 15%;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
}


@media (max-width: 600px) {
  #deco-title {
    font-size: 2rem;
    display: none;
  }

  #second-sub-section {
    grid-template-columns: 1fr;
  }

  #registro-RN {
    grid-template-columns: 1fr;
  }
  #title-RN {
    margin-top: 25%;
  }

  #button-show-password {
    left: 80%;
    top: -320%;
  }

  iframe {
    width: 50%;
  }
}

@media (max-width: 500px) {
}
