@media only screen and (min-width: 1441px) {
  /* Estilos para escritorios más grandes */
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Estilos para portátiles y escritorios estándar */
  .box-hero-main {
    width: 100%;
    
  }

  #section-two {
    margin-left: 40px;
    margin-right: 40px;
    width: 95%;
  }

  .card {
    width: 300px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos para tabletas */
  header {
    width: 100%;
   align-items: center;
    gap: 10px;
  }

  .descuento-box {
    width: calc(100vh - 10vh);
  }

  .input-container {
    display: none;
  }

  

  #header-nav ul {
  padding: 15px 0px 0px 40px;
   flex-direction: column;
    align-items: left;
    border: 10px solid var(--main-color);
    background: linear-gradient(
      to bottom, 
      #1f1f1f, 
      #fb8a8a);
    width: 100%;
    top: 70px;
    left: 0;
    height: calc(100vh - 10px);
    position: absolute;
    display: none;
  }

  #header-li a{
    font-size: 40px;
    font-weight: 600;
    color: white;
    /* border: 1px solid white; */
    border-radius: 5px;
    /* background-color: #fb8a8a; */
  }

  #header-nav i {
    display: block;

  }

#toggle-menu {
  display: block;
  
}

  #toggle-menu:checked ~ ul {
    display: flex;
  }


/* HEADER */



/* HERO */
  #hero {
    padding: 0;
  }

  .box-hero-main {
    width: 80%;
    height: auto;
    flex-direction: column;
  }

  .box-hero-left {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #box-span {
    width: auto;
  }

  .box-hero-right {
    display: none;
  }

  #first-sub-section span{
    font-size: 30px;
    text-align: center;
  }

  #section-two {
    margin-left: 40px;
    margin-right: 40px;
    width: 85%;
  }

  #second-sub-section {
    flex-direction: column;
  }

  .card {
    width: 350px;
  }

  #productos {
    flex-direction: column;
  }

  .flex-column-for-querys {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
}

@media only screen and (max-width: 600px) {
  /* Estilos para tabletas */
  header {
    position: relative;
    width: 100%;
   align-items: center;
    gap: 10px;
  }

  .descuento-box {
    width: calc(100vh - 10vh);
  }

  .input-container {
    display: none;
  }

  

  #header-nav ul {
  padding: 15px 0px 0px 40px;
   flex-direction: column;
    align-items: left;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    background: linear-gradient(
      to bottom, 
      #1f1f1f, 
      #fb8a8a);
    width: 100%;
    top: 75px;
    left: 0;
    height: calc(100vh - 10px);
    position: absolute;
    display: none;
  }

  #header-li a{
    font-size: 40px;
    font-weight: 600;
    color: white;
    /* border: 1px solid white; */
    border-radius: 5px;
    /* background-color: #fb8a8a; */
  }

  #header-nav i {
    display: block;

  }

#toggle-menu {
  display: block;
  
}

  #toggle-menu:checked ~ ul {
    display: flex;
  }







  #hero {
    padding: 0;
    width: auto;
  }

  .box-hero-main {
    width: 80%;
    height: auto;
    flex-direction: column;
  }

  .box-hero-left {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #box-span {
    width: auto;
    font-size: 30px;
text-align: center;  }

  .box-hero-right {
    display: none;
  }

  #section-two {
    margin-left: 40px;
    margin-right: 40px;
    width: 95%;
  }

  #first-sub-section span{
    font-size: 30px;
    text-align: left;
  }

  #second-sub-section {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
.box-card{
  align-items: center;
}
  #productos {
    flex-direction: column;
  }

  .flex-column-for-querys {
    flex-direction: column;
  }

  

  footer {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
}
