@media only screen and (max-width: 1300px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Estilos para portátiles y escritorios estándar */
  .box-hero-main {
    width: 100%;
  }

  #section-two {
    margin-left: 40px;
    margin-right: 40px;
    width: 95%;
  }

  #productos {
    background-size: contain;
    background-position: center;
  }

  .card {
    width: 300px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  header {
    width: 100%;
    align-items: center;
    gap: 10px;
  }

  #hero {
    display: none;
  }

  .box-hero-main {
    width: 100vh;
  }

  .descuento-box {
    width: calc(100vh - 10vh);
  }

  .input-container {
    display: none;
  }

  #header-nav ul {
    padding: 15px 0px 0px 40px;
    flex-direction: column;
    align-items: left;
    border: 10px solid var(--main-color);
    background: linear-gradient(to bottom, #1f1f1f, #fb8a8a);
    width: 100%;
    top: 70px;
    left: 0;
    height: calc(100vh - 10px);
    position: absolute;
    display: none;
  }

  #header-li a {
    font-size: 40px;
    font-weight: 600;
    color: white;
    /* border: 1px solid white; */
    border-radius: 5px;
    /* background-color: #fb8a8a; */
  }

  #header-nav i {
    display: block;
  }

  #toggle-menu {
    display: block;
  }

  #toggle-menu:checked ~ ul {
    display: flex;
  }

  /* HEADER */

  /* HERO-QUERYS */

  #hero-querys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 17%;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, var(--main-color), #f7626282);
  }

  #ver-productos {
    width: 50%;
  }

  /* HERO-QUERYS */

  #first-sub-section span {
    font-size: 30px;
    text-align: center;
  }

  #section-two {
    margin-left: 40px;
    margin-right: 40px;
    width: 85%;
  }

  #second-sub-section {
    flex-direction: column;
  }

  .cards-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .card {
    width: 270px;
  }

  footer {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  /* PAGINA DE LOGIN */
  #registro {
    width: auto;
  }
  /* PAGINA DE LOGIN */

  /* REGISTRO */
  #background-registroNew span {
    padding: 30px 10px 10px 30px;
    font-size: 20px;
  }

  #registro {
    width: auto;
    border: none;
    box-shadow: none;
  }
}

@media only screen and (max-width: 601px) {
  .text-class-1 {
    font-weight: 700;
    font-family: var(--texto-general);
    font-size: 12px;
  }

  header {
    width: 100%;

    align-items: center;
    gap: 10px;
  }

  #hero {
    display: none;
  }

  .descuento-box {
    width: calc(100vh - 10vh);
  }

  .input-container {
    display: none;
  }

  #header-nav ul {
    padding: 15px 0px 0px 40px;
    flex-direction: column;
    align-items: left;
    border: 10px solid var(--main-color);
    background: linear-gradient(to bottom, #1f1f1f, #fb8a8a);
    width: 100%;
    top: 70px;
    left: 0;
    height: calc(100vh - 10px);
    position: absolute;
    display: none;
  }

  #header-li a {
    font-size: 40px;
    font-weight: 600;
    color: white;
    /* border: 1px solid white; */
    border-radius: 5px;
    /* background-color: #fb8a8a; */
  }

  #header-nav i {
    display: block;
  }

  #toggle-menu {
    display: block;
  }

  #toggle-menu:checked ~ ul {
    display: flex;
  }

  /* HEADER */

  /* HERO-QUERYS */

  #hero-querys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 130px 0px 130px 0px;
    background: linear-gradient(to bottom, var(--main-color), #f7626282);
  }

  #ver-productos {
    width: 50%;
  }

  /* HERO-QUERYS */

  #first-sub-section span {
    font-size: 30px;
    text-align: center;
  }

  #section-two {
    margin-left: 40px;
    margin-right: 40px;
    width: 85%;
  }

  #second-sub-section {
    flex-direction: column;
  }

  .cards-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  #productos h2,
  #background-registroNew h2 {
    font-size: 40px;
  }

  footer {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  /* PAGINA DE LOGIN */
  #registro {
    width: auto;
  }
  /* PAGINA DE LOGIN */

  /* REGISTRO */
  #background-registroNew span {
    padding: 30px 10px 10px 30px;
    font-size: 20px;
  }

  #registro {
    width: auto;
  }

  /* REGISTRO */
}
