@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=IBM+Plex+Mono:ital,wght@1,500&family=Space+Mono:wght@700&display=swap");

:root {
  /* FONTS */
  --texto-general: "Barlow Condensed", sans-serif;
  --text-titulo: "IBM Plex Mono", monospace;
  /* COLORS */
  --main-color: hsl(20, 90%, 88%);
  --secondary-color: hsl(29, 62%, 78%);
}

* {
  /* border: 1px solid white; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#background-registroNew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

#log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--texto-general);
  font-size: 20px;
  font-weight: 600;
  color: white;
}
#registro {
  margin-top: 20px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: auto;
  padding: 20px;
  gap: 20px;
  background-color: #1f1f1fd4;
  box-shadow: 15px 15px 30px 0px #030303ba;
  border-radius: 10px;
}

#form-button:hover {
  transition: 0.5s ease;

  letter-spacing: 1px;
  background-color: #1f1f1f8b;
  border: 2px solid rgba(255, 255, 255, 0.294);
  box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.705);
}
