@import url("https://fonts.googleapis|m/css2?family=Barlow+Condensed:wght@300&family=IBM+Plex+Mono:ital,wght@1,500&family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
:root {
  /* FONTS */
  --texto-montserrat: "Montserrat", sans-serif;
  --texto-general: "Barlow Condensed", sans-serif;
  --text-titulo: "IBM Plex Mono", monospace;
  /* COLORS */
  --main-color: hsl(20, 50%, 70%);
  --secondary-color: hsl(50, 50%, 70%);
}

*::selection {
  color: rgb(255, 0, 191);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid gold; */
}

body {
  margin: 0;
  padding: 0;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.text-class-1 {
  font-weight: 500;
  font-family: var(--texto-general);
}

/* HEADER */

header {
  z-index: 1;
  position: fixed;
  padding: 5px;
  width: 100%;
  top: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background: linear-gradient(to bottom, hsl(20, 50%, 70%), hsl(0, 73%, 90%));
}

/* SHOPPING CART*/
/* CARRO DE COMPRAS */
#carrito {
  font-size: 1.2rem;
  padding: 1.2rem;
  color: black;
  cursor: pointer;
}

#number-products {
  position: absolute;
  font-size: 1rem;
  top: 1rem;
}

#productos-carrito {
  font-family: var(--texto-general);
  list-style: none;
  z-index: -1;
  font-family: var(--texto-montserrat);
  gap: 10rem;
  border: 1px solid rgba(0, 0, 0, 0.298);
  position: absolute;
  overflow-y: visible;
  background: linear-gradient(
    to bottom,
    hsl(20, 50%, 70%),
    hsl(0, 62%, 84%),
    hsl(0, 0%, 100%)
  );
  top: 103%;
  left: -100%;
  width: auto;
  padding: 1rem;
  text-decoration: none;
  list-style: none;
  transition: 0.6s all;
  border-radius: 0 0 25px 0;
  box-shadow: 0px 1px 5px 1px black;
}

#productos-carrito.carrito-desplegado {
  left: 0;
}

#box-description {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
}

#box-description-mobiles {
  display: none;
}
#productos-agregados {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 60vh;
  overflow-y: auto;
}
#producto-agregado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  /* border: 3px solid rgba(0, 0, 0, 0.418); */
}

#img-carrito {
  width: 5rem;
  border: 0.3rem solid rgb(45, 197, 45);
}

#box-adds-items {
  display: flex;
  gap: 0.5rem;
}

#add-item,
#subtract-item {
  text-align: center;
  padding: 0.4rem;
  border-radius: 0.2rem;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px black;
  background-color: grey;
}

#add-item:hover,
#subtract-item:hover {
  box-shadow: 1px 1px 10px 2px;
}

#quantity-item-carrito {
  text-align: center;
  padding: 0.5rem;
}
#price-item-carrito {
  text-align: center;
  color: rgb(45, 197, 45);
  font-family: var(--text-titulo);
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

/* SHOPPING CART*/
/* CARRO DE COMPRAS */

#img-header {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#img-header:hover {
  box-shadow: 1px 1px 20px 1px white;
  border: 1px solid rgba(0, 0, 0, 0.084);
}

#header-nav {
  width: 100%;
}

#navegador-mobile {
  font-family: var(--texto-general);
  list-style: none;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 40px;
  position: absolute;
  background: linear-gradient(
    to bottom,
    hsl(20, 50%, 70%),
    hsl(0, 62%, 84%),
    hsl(0, 0%, 100%)
  );
  top: 100%;
  left: -100%;
  width: 20%;
  text-decoration: none;
  list-style: none;
  transition: 0.6s all;
  box-shadow: 0px 1px 5px 1px black;
  padding: 0 1rem 0 0;
}

#navegador-mobile.desplegado {
  transition: 0.6s all;
  left: 0;
}

#menu_toggle {
  padding: 10px;
  border-radius: 3px;
  position: absolute;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* border: 1px solid rgba(0, 0, 0, 0.123); */
  cursor: pointer;
}

#menu_toggle:active {
  box-shadow: 1px 1px 5px 1px;
}

#menu_toggle:hover,
#carrito:hover {
  box-shadow: 1px 1px 5px 1px white;
}

#header-li a {
  text-decoration: none;
  transition: 0.5s ease;
  color: hsl(242, 95%, 7%);
  letter-spacing: 1px;
  font-weight: 600;
  /* border: 1px solid white; */
  padding-bottom: 15px;
  letter-spacing: 1px;
}

#header-li a:hover {
  color: hsl(0, 0%, 100%);
  border-bottom: 3px solid;
  transition: 0.5s ease;
}

#descuento-box {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

#keyframe {
  width: 100%;
  animation: descuento-text-translate 25s infinite;
}

@keyframes descuento-text-translate {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(80%);
  }
}

#descuento-object {
  font-size: 1.5em;
  font-weight: 700;
  animation: descuento-object-translate 8s;
}

@keyframes descuento-object-translate {
  0% {
    transform: translateX(200%);
  }

  40% {
    transform: translateX(10%);
  }

  60% {
    transform: translateX(10%);
  }
  80% {
    transform: translateX(-500%);
  }

  90% {
    transform: translateX(-500%);
  }
  /* 
  95% {
    transform: translateX(-500%);
  } */
  100% {
    transform: translateX(10%);
  }
}
/* HEADER */

/* SECTION 1: HERO */

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 75px 10px 0px 10px;
  width: 100%;
  height: calc(100vh - 10vh);
  /* border: 1px solid black; */
  /* linear-gradient(to right, hsla(20, 50%, 70%, 0.842) 70%, hsla(0, 73%, 90%, 0.276)), */
  background-image: linear-gradient(
      to right,
      hsla(20, 50%, 70%, 0.247) 10%,
      hsla(20, 50%, 70%, 0),
      hsl(20, 50%, 70%, 0.247) 90%
    ),
    url(/assets/imgs/fondos-body/pexels-maria-orlova-4913388.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.2);
}

.box-hero-left {
  border-radius: 20px;
  /* border: 10px solid rgba(255, 255, 255, 0.222); */
  display: flex;
  gap: 30px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.box-hero-left img {
  width: 200px;
  border: 1.2rem solid rgba(0, 0, 0, 0.224);
  border-radius: 100px;
  /* padding: 1rem; */
}

#box-span {
  border-radius: 2px;
  /* background-color: gold; */
  width: 709px;
}

#deco-title {
  font-family: var(--texto-montserrat);
  font-size: 3rem;
  font-weight: 700;
  padding: 20px;
  background: repeating-linear-gradient(
    to right,
    #ffffffd6,
    rgb(244, 248, 165)
  );
  /* color: var(--secondary-color); */
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;

  backdrop-filter: blur(10px) saturate(92%);
}

#ver-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--secondary-color);
  text-decoration: none;
  color: #1f1f1f;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: var(--texto-general);
  transition: 1s ease;
  box-shadow: 5px 5px 20px 0px #030303ba;
}

#ver-productos:hover {
  background-color: white;
  box-shadow: 5px 5px 20px 0px #fefefef1;
  transform: scale(1.015);
  transition: 0.7s ease;
  width: 220px;
  height: 45px;
  letter-spacing: 5px;
}

/* SECTION1: HERO */

/* SECTION 2 */
#section-two {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 5rem 0;
  /* border: 3px solid var(--main-color); */
  /* border-radius: 20px; */
  width: 100%;
  background-color: #1f1f1f30;
  box-shadow: 10px 10px 20px 1px #09090983;
}

#line-divisory {
  border: 4px solid var(--main-color);
  border-radius: 10px;
  width: 60%;
}

#texto-garantia {
  font-family: var(--texto-general);
  font-size: 1.5rem;
  font-weight: 100;
  color: #000000;
  text-align: left;
}

#card #p2 {
  font-family: var(--texto-montserrat);
  font-size: 25px;
  color: #fffefe;
}

#first-sub-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: right;
  padding: 20px;
  border-radius: 5px;
}

#second-sub-section {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 5rem;
}

#card-beneficios {
  /* background: linear-gradient(to bottom, var(--main-color), white); */
  /* border-left: 1px solid white; */
  background-color: rgba(110, 109, 109, 0.46);
  /* border-radius: 25px; */
  display: flex;
  flex-direction: column;
  padding: 35px;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur (7px);
  transition-duration: 0.7s all;
}

#card-beneficios::before {
  position: fixed;
  content: "";
  box-shadow: 0px 0px 100px 40px rgba(255, 255, 255, 0.457);
  top: 100px;
  left: 10px;
  transform: rotate(-25deg);
  height: 1000px;
  transition: 0.7s all;
}

#card-beneficios:hover::before {
  filter: brightness(0.9);
  top: 50px;
  left: 600px;
  transition: 0.7s all;
}

#card-beneficios:hover {
  transition: 0.7s all;
  background-color: rgb(110, 109, 109);
}

#card-beneficios p {
  padding: 8px;
  border-radius: 20px;
  letter-spacing: 2px;
  background-clip: text;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  font-family: var(--texto-montserrat);
}

#card-beneficios img {
  border: 6px solid var(--main-color);
  width: 80px;
  background-color: white;
  border-radius: 60%;
  padding: 10px;
  object-fit: cover;
  transition: 0.7s all;
}

#card-beneficios img:hover {
  transition: 0.7s all;
  transform: rotate(360deg);
}

/* SECTION 2 */

/* PRODUCTOS */
#productos {
  padding: 0px 0px 100px 0px;
  width: 100%;
  /* background-color: #1f1f1f30; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#productos h2,
#background-registroNew h2 {
  /* EL COLOR DEL SEGUNDO 
  H2 SE ENCUENTRA
  CONFIGURADO DESDE 
  LA HOJA HTML */
  color: black;
  text-align: center;
  font-family: var(--texto-general);
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 10px;
  padding-bottom: 70px;
  border-bottom: 10px solid var(--main-color);
  transition: 0.7s ease;
  width: 50%;
}

#productos h2:hover,
#background-registroNew h2:hover {
  transition: 0.7s;
  border-bottom: 10px solid gold;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* border: 1px solid black; */
}

#search {
  text-align: center;
  letter-spacing: 7px;
  font-size: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.324);
  border-radius: 5px;
  /* background-color:; */
  padding: 10px;
  width: 30%;
}

#buscar {
  border-radius: 5px transparent;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 20px;
  padding: 5px 15px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.324);
  border-radius: 5px;
}

#buscar:hover {
  box-shadow: 1px 1px 4px 1px #1f1f1f;
  background-color: var(--main-color);
}

#productos-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 2rem;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.332);
  border-radius: 10px;
  transition: 0.3s all;
  cursor: pointer;
}

.card:hover {
  box-shadow: 1px 1px 4px 3px;
}

#producto-img {
  width: 15rem;
  height: 15rem;
  /* border: 1px solid black; */
}

.box-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
}

#price {
  font-size: 2rem;
  font-family: var(--text-titulo);
}

#descuento {
  font-size: 0.8rem;
  text-align: end;
  padding: 4px;
  background-color: rgb(0, 174, 255);
  color: white;
  border-radius: 5px;
  font-family: var(--text-titulo);
}

#description {
  font-size: 1rem;
  /* font-weight: 100; */
  font-family: var(--texto-general);
  font-size: 1.5rem;
  width: 80%;
  text-align: left;
}

.box-card-button {
  display: flex;
  justify-content: space-between;
  width: 50%;
  background-color: #4aff3d;
  text-align: center;
  cursor: pointer;
  color: black;
  padding: 5px;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease;
  box-shadow: 1px 1px 3px 0px #1f1f1f;
  cursor: pointer;
}

.box-card-button:hover {
  background-color: gold;
}

.agregar {
  width: 50%;
  background-color: transparent;
  border: none;
  font-family: var(--texto-montserrat);
  font-weight: 100;
}

#verMas {
  width: 5rem;
  height: 35px;
  background-color: var(--main-color);
  cursor: pointer;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: var(--texto-montserrat);
  font-weight: 100;
  transition: 0.2s ease;
  box-shadow: 1px 1px 5px 2px #1f1f1f;
  display: grid;
  place-content: center;
  /* left: 50%; */
  color: #010101;
}

#verMas:hover {
  background-color: white;
  transition: 0.2s ease;
}

/* PRODUCTOS */
/* BACKGROUND REGISTRO NEW DEL INDEX */
#background-registroNew {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 100%;
}

#registro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 50px;
  /* border: 1px solid black; */
}

#label-index {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  letter-spacing: 0.2rem;
  font-family: var(--texto-general);
  font-weight: 700;
  font-size: 1.5 rem;
}

#email,
#name {
  padding: 0.5rem;
}

#form-button {
  width: 20%;
  padding: 0.4rem;
  font-family: var(--texto-general);
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.335);
  background-color: var(--main-color);
}

#form-button:hover {
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0);
}

/* BACKGROUND REGISTRO NEW DEL INDEX */

/* FOOTER */

/* NAV */
footer {
  background-color: #1f1f1f;
  padding: 70px 5px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 20px;
  width: 100%;
}

#footer-nav {
  display: flex;
  height: 100%;
  /* background-color: gold; */
  justify-content: space-between;
}

#footer-nav-ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-family: var(--texto-general);
}

#footer-nav-ul a img {
  width: 3.5em;
  border-radius: 55px;
  transition: 0.2s;
}
#footer-nav-ul a img:hover {
  transition: 0.2s;
  box-shadow: 1px 1px 10px 1px white;
}
#footer-nav-ul li {
  text-align: left;
}

#footer-nav-links {
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#footer-nav-ul li a,
#whatsapp {
  text-align: center;
  color: white;
  text-decoration: none;
  transition: 0.4s;
}

#footer-nav-ul li a:hover,
#whatsapp:hover {
  transition: 0.4s;
  color: gold;
}

/* NAV */

.maps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
  font-family: var(--texto-general);
}
.maps iframe {
  border-radius: 20px;
  /* width: 100%; */
  /* height: 150px; */
}

.redes-container {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.redes-container span {
  text-align: center;
  color: white;
  font-family: var(--texto-general);
}

.redes-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.redes-container a {
  font-family: var(--texto-general);
  color: white;
  text-decoration: none;
  transition-duration: 0.7s ease;
}

.redes-container a img {
  border: 1px solid white;
  border-radius: 50px;
  width: 4em;
  transition: 2s all;
}

.redes-container a img:hover {
  transform: rotate(360deg);
  transition: 2s all;
  box-shadow: 1px 1px 10px 2px rgba(255, 255, 255, 0.363);
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.footer-info a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: var(--texto-general);
  transition: 0.7s all;
}

.footer-info a:hover,
.redes-container a:hover {
  transition: 0.7s all;
  color: gold;
}
/* FOOTER */
